.Main-chat
  .Header
    .TopItems
      .TopItems__name 
        .TopItems__name__group 
          = @group.name
        .TopItems__name__member 
          %ul
            member :
            %li
              = @group.users.pluck(:name).join(",")
                
      .TopItems__icon
        = link_to edit_group_path(@group), class: "edit" do
          Edit

  .MessageField
    = render @messages

  .Footer
    = form_with model: [@group, @message], html: {class: "Form"}, local: true do |f|
      .Form__contents
        = f.text_field :content, class:'Form__inputContent', placeholder: 'type a message'
        = f.label :image, class: 'image-icon' do
          = icon('far', 'image')
          = f.file_field :image, class: 'file'
      = f.submit "Send", class: "Form__submit"

